/* HAMBURGUER */

#menu-bar {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 5vh;
  height: 5vh;
  margin: 2vh;
  cursor: pointer;

  z-index: 9;
}

.bar {
  width: 100%;
  height: 8%;
  background-color: var(--branco);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 8;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: transparent;
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 50vw;
  height: 25vh;
  transform: translate(-60%, -30%);
}
