*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFFFF; 
    max-width: 100%;
    overflow-x: hidden;
}

#container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

#slider{
    display: flex;
    overflow: hidden;
}

.slides{
    transition: all 1.5s;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides h2, .slides h3{
    position: absolute;
    color: white;
}

.slides h2{
    font-size: 6em;
}

.slides h3{
    font-size: 1.2em;
    margin-top: 22vh;
}

#slider, .slides img{
    width: 82vw;
    height: 88vh;
    border-radius: 6em;
}

.slider-container-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D6D6D6;
    border: 0;
    border-radius: 50%;
    margin-inline: 1em;
    width: 6.5vh;
    height: 6.5vh;
}

.slider-container-arrow:hover{
    opacity: 0.6;
}

.title{
    color: #000000;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-style: normal;
    font-weight: 500;
    font-size: 4.5em; 
    text-align: center;
}

.Stitle-1{
    width: 60vw;
    margin-top: 1em;
}

#title-flex{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container-flex1{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
}

.text{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    display: flex;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 2rem;
    line-height: 1.5em;
    text-align: justify;
}

#text1{
    display: flex;
    text-align: justify;
    width: 50vw;
    margin-top: 1em;
}

.img1-RSBE{
    width: 45vw;
    height: 70vh;
    margin-right: 2rem;
    padding-left: 1em;
}

.img1-RSBE img{
    margin-top: 2em;
}


.squares-flex{
    display: flex;
    margin-top: 5em;
    justify-content: space-around;
    flex-wrap: wrap;
}

#square1{
    display: flex;
    flex-direction: column
}

#img-square1{
    width: 26vw;
    height: 45vh;
    border-radius: 50px;
    box-shadow: 0 0 8px 1px #d5d2d2a5;
}

#img-square2{
    width: 26vw;
    height: 45vh;
    border-radius: 50px;
    box-shadow: 0 0 8px 1px #d5d2d2a5;
}

#square2{
    display: flex;
    flex-direction: column
}

#img-square3{
    width: 26vw;
    height: 45vh;
    border-radius: 50px;
    box-shadow: 0 0 8px 1px #d5d2d2a5;
}

#square3{
    display: flex;
    flex-direction: column
}

/*square arrow*/

.square-arrow{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#arrow-square1{
    height: 12vh;
    cursor: pointer;
    border-radius: 50px;
    transition: all 1s ease-in-out;
}

#arrow-square1:hover{
    background-color:rgba(154, 154, 154, 0.5);
    border: 0;
    border-radius: 50px;
    transition: all .8s ease-in-out;
}

#arrow-square2{
    height: 12vh;
    cursor: pointer;
    border-radius: 50px;
    transition: all 1s ease-in-out;
}

#arrow-square2:hover{
    background-color:rgba(154, 154, 154, 0.5);
    border: 0;
    border-radius: 50px;
    transition: all .8s ease-in-out;
}

#arrow-square3{
    height: 12vh;
    cursor: pointer;
    border-radius: 50px;
    transition: all 1s ease-in-out;
}

#arrow-square3:hover{
    background-color:rgba(154, 154, 154, 0.5);
    border: 0;
    border-radius: 50px;
    transition: all .8s ease-in-out;
}


/*square text*/

.square-text{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-square1{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    line-height: 1.5em;
    width: 20vw;
    transition: all .3s;
}

.text-square1:hover{
    opacity: 0.6;
}

.text-square2{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    line-height: 1.5em;
    width: 20vw;
    transition: all .3s;
}

.text-square2:hover{
    opacity: 0.6;
}

.text-square3{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    line-height: 1.5em;
    width: 20vw;
    transition: all .3s;
}

.text-square3:hover{
    opacity: 0.6;
}

/*square and*/

.container-flex2{ 
    margin-top: 3em;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#text2{
    display: flex;
    text-align: justify;
    margin-left: 0;
    margin-right: .5rem;
}

.Stitle-2{
    width: 50vw;
    font-size: 4.5em;  
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    justify-content: center;
}

.pdf{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#img-pdf1{
    height: 22vh;
    transition: all .5s ease;
}

#img-pdf1:hover{
    transform: scale(1.1);
}

#img-pdf2{
    height: 22vh;
    transition: all .5s ease;
}

#img-pdf2:hover{
    transform: scale(1.1);
}

.titulopdf{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
    cursor: pointer;
    font-weight: 600;
}

.textpdf{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
    letter-spacing: 0.05em;
    color: #000000;
    line-height: 1.5em;
    text-align: justify;
    transition: all .3s;
}

.textpdf:hover{
   opacity: 0.6;
}


/*Responsivo: dois titulos, texto 1 e imagem 1 e quadrinhos  min 760max936*/

@media screen and (min-width:400px) and (max-width:767px) { 
    .title{
        font-size: 2.7em;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    #title-flex, .Stitle-1{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .container-flex1{
        display: flex;
        flex-direction: column;
    }

    .text{
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.2em;
    }

    #text1{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        width: 90vw;
        margin-top: 0;
    }

    .img1-RSBE{
        width: 90vw;
        height: 70vh;
        margin-right: 2.5rem;
        padding-left: 1em;
        margin-top: 1.5em;
    }

    .container-flex2{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .Stitle-2{
        margin-bottom: .8em;
        width: 80vw;
        font-size: 3.3em;
        padding-left: .5rem;
        padding-right: .5rem;
        display: flex;
        align-items: center;
    }

    .squares-flex{
        display: flex;
        margin-top: 5em;
        flex-direction: column;
        align-items: center;
    }

    #img-square1, #img-square2, #img-square3{
        margin-top: 3em;
    }

  }

  @media screen and (min-width:760px) and (max-width:936px){
    .squares-flex #square1, #square2, #square3{
        display: flex;
        margin-top: 5em;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }

  }
  
  @media screen and (min-width:768px) and (max-width:1015px){
    .title{
        font-size: 4.4em;
    }
    
    #title-flex, .Stitle-1{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    }

    .container-flex1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text{
        margin-top: 0;
        margin-left: 2.5rem;
        margin-right: 1rem;
    }

    #text1{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        width: 90vw;
        margin-top: 0;
    }

    .img1-RSBE{
        display: flex;
        justify-content: flex-end;
        width: 50vw;
        height: 65vh;
        margin-right: 1rem;
        padding-left: 1em;
        margin-top: 1.5em; 
        text-align: center;
    }

    .img1-RSBE img{
        text-align: center;
    }

    .container-flex2{
        margin-left: 2.5rem;
        margin-right: 1rem;
    }

    .Stitle-2{
        margin-bottom: .8em;
        width: 40vw;
        font-size: 3.3em;
        padding-left: .5rem;
        padding-right: .5rem;
        display: flex;
        align-items: center;
    }
  }

