*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFFFF; 
    max-width: 100%;
    overflow-x: hidden;
}

#container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

#slider{
    display: flex;
    overflow: hidden;
}

.slides{
    transition: all 1.5s;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides h2, .slides h3{
    position: absolute;
    color: white;
}

.slides h2{
    font-size: 6em;
}

.slides h3{
    font-size: 1.2em;
    margin-top: 22vh;
}

#slider, .slides img{
    width: 82vw;
    height: 88vh;
    border-radius: 6em;
}

.slider-container-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D6D6D6;
    border: 0;
    border-radius: 50%;
    margin-inline: 1em;
    width: 6.5vh;
    height: 6.5vh;
}

.slider-container-arrow:hover{
    opacity: 0.6;
}

.title{
    color: #000000;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-style: normal;
    font-weight: 500;
    font-size: 4.5em; 
    text-align: center;
}

.Stitle-1{
    width: 60vw;
    margin-top: 1em;
}

#title-flex{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container-flex1{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.text{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    display: flex;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 2.5rem;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 2.5em;
}

#text1{
    display: flex;
    text-align: justify;
    width: 50vw;
}

.img1-RSBE{
    width: 45vw;
    height: 70vh;
    padding-right: 2.5rem;
    padding-left: 1em;
    overflow: hidden;
}

.squares-flex{
    display: flex;
    margin-top: 9em;
    justify-content: space-around;
}

#square1 #img-square1 {
    width: 24vw;
    height: 35vh;
    border-radius: 50px;
}

#arrow-square1{
    width: 15vw;
    height: 15vh;
    position: absolute;
    margin-top: 5em;
    left: 7.5rem;
    cursor: pointer;
}

.text-square1{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    line-height: 1.5em;
}

#square2 #img-square2{
    width: 24vw;
    height: 35vh;
    border-radius: 50px;
}

#arrow-square2{
    width: 15vw;
    height: 15vh;
    position: absolute;
    margin-top: 5em;
    left: 36rem;
    cursor: pointer;
}

.text-square2{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    color: #000000;
    line-height: 1.5em;
    text-align: center;
}

#square3 #img-square3{
    width: 24vw;
    height: 35vh;
    border-radius: 50px;
}

#arrow-square3{
    width: 15vw;
    height: 15vh;
    position: absolute;
    margin-top: 5em;
    left: 64.5rem;
    cursor: pointer;
}

.text-square3{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    color: #000000;
    line-height: 1.5em;
    text-align: center;
}

.container-flex2{ 
    margin-top: 5em;
    margin-right: 2rem;
    margin-left: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#text2{
    display: flex;
    text-align: justify;
    margin-left: 0;
    width: 90vw;
}

.Stitle-2{
    width: 50vw;
    font-size: 5em;  
    display: flex;
    align-items: center;
    margin-bottom: .4em;
}

.pdf{
    margin-top: 3em;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    cursor: pointer;
}

.titulopdf{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
    padding-right: 1.2rem;
    cursor: pointer;
}

#img-pdf1{
    padding-right: 4em;
}
