@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes backgroundFadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes backgroundFadeOut {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

:root {
  --cinza: #1d1d1d;
  --preto: black;
  --branco: whitesmoke;
  --textosFooter: 1.2rem;
  --verde: rgba(36, 52, 15, 1);
}

/* HEADER */

header {
  position: fixed;
  width: 100vw;

  z-index: 10;

  top: 0;
  background-color: var(--verde);
  padding: 5px;
}

/* NAV-MENU */

nav.menu-pc {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 98vw;
  height: 51px;
}

nav.menu-pc ul {
  display: flex;
  list-style: none;
  overflow: hidden;
}

nav.menu-pc img {
  width: 400px;
  height: 132px;
  margin-top: 10px;
}

nav.menu-pc li {
  margin: 3vh;
  cursor: pointer;
  transition: 0.2s all;
}

nav.menu-pc a {
  font-family: "Kanit", sans-serif;
  font-weight: 400;

  text-decoration: none;
  text-transform: capitalize;

  color: white;
}

nav.menu-pc li:hover {
  transform: scale(1.1);
}

/* NAV-MOBILE */

div.menu-mobile {
  display: none;
  width: 100%;

  justify-content: space-between;

  background-color: --verde;
}

div.menu-mobile img {
  width: 200px;
  height: 92px;

  margin-bottom: -20px;
  margin-top: -10px;
}

div.menu-mobile div.menu-modal {
  display: flex;
  position: absolute;

  width: 100vw;
  height: 100vh;
  left: -100vw;

  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;

  transition: 0.4s all;
  z-index: 8;

  animation: backgroundFadeOut 0.4s;
}

div.menu-mobile div.menu-modal.active {
  left: 0;
  animation: backgroundFadeIn 0.6s;
}

div.menu-mobile div.options {
  display: flex;
  flex-direction: column;

  background-color: #24340f;

  width: 60vw;
  min-width: fit-content;
  height: 100vh;

  padding-top: 10vh;
}

div.menu-mobile div.options ul {
  display: flex;
  flex-direction: column;

  width: 100%;
  list-style: none;
}

div.menu-mobile div.options ul li {
  display: flex;

  margin-block: 2vh;
  text-align: center;

  width: 100%;
}

div.menu-mobile div.options a {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  padding: 2vh 15vw;

  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1vh;

  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: white;

  margin-inline: 3vh;

  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav.menu-pc {
    display: none;
  }
  div.menu-mobile {
    display: flex;
  }
}
