*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFFFF; 
    max-width: 100%;
    overflow-x: hidden;
}

        
#container-imagem {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('./../img/img-pebot/PEBOT-PAG.JPG');
    background-size: cover;
}

#imagem-title{
    position: absolute;

    font-family: 'Krona One', sans-serif;
    font-size: 9vh;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;

    letter-spacing: 0.07em;
    bottom: 38%;
    left: 40%;
    transform: translate(-34%, 0);
}

.container-flex1{
    margin-top: 2.5rem;
    margin-left: 3em;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    gap: 20vh;
}

.div-flex1{
    display: flex;
    flex-flow: column wrap;
}

.Stitle-1{
    color: #000000;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 500;
    justify-content: flex-start;
    letter-spacing: 0.05em;
    line-height: 7vh;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    width: 40vw;
}

.text{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 1.7em;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    color: #000000;
    text-align: justify;
    width: 41vw;
    margin-top: 3em;
}

.img1-PEBOT{
    width: 90%;
    margin-right: 3em;
}

.pdf-inf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.2em;
}

#img-pdf{
    width: 100%;
    max-width: 7vh;
    max-height: 7vw;
    min-width: 6vh;
    min-height: 6vw;
    text-align: center;
    transition: all .5s ease;
    cursor: pointer;
}

.textpdf{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 1.6em;
    margin-right: 1em;
    margin-left: 1em;
    letter-spacing: 0.05em;
    color: #000000;
    line-height: 1.5em;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    font-weight: 600;
    width: 5vh;
}

.textpdf:hover{
   opacity: 0.6;
}

.container-flex2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-flex2{
    color: #000000;
    font-family: 'Krona One', sans-serif;
    letter-spacing: 0.07em;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

#title-h1{
    margin-top: 0.8em;
    text-transform: uppercase;
    font-size: 4.5em;
}

#title-h2{
    font-size: 2.7em;
    margin-top: 0.5em;
    width: 55vw;
}

.img2-PEBOT{
    width: 35%;
    margin-top: 2.5em;
    margin-bottom: 4em;
}