*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFFFF; 
    max-width: 100%;
    overflow-x: hidden;
}

.container-flex1{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.title{
    color: #000000;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
}

.Stitle-1{
    width: 80vw;
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
}

.text{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 1.7em;
    line-height: 1.5em;
    display: flex;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: 2rem;
    text-align: justify;
}

.textpdf{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 1.7em;
    line-height: 1.2em;
    margin-right: 1em;
    margin-left: 1em;
    letter-spacing: 0.05em;
    color: #000000;
    line-height: 1.5em;
    text-align: justify;
    transition: all .3s;
    cursor: pointer;
    font-weight: 600;
}

.textpdf:hover{
   opacity: 0.6;
}